<div class="container ">
  
  <div class="row">
     {{#if errorMessage}}
       <div class="col-sm-6 alert alert-danger centered-form" role="alert">
        {{errorMessage}}
       </div>
     {{/if}}
  </div>
    <div class="row text-center first-section-two">
      {{!-- <div class="col-sm-6 text-center centered-form"> --}}
        <div class="col-lg-5 col-offset-6 centered-form"></div>
        <form action="/login" method="post">
          <div class="form-group">
            <h3><label for="email"><b>Username</b></label></h3>
            <input type="text" name="email" class="form-control">
          </div>
  
          <div class="form-group">
            <h3><label for="password"><b>Password</b></label></h3>
            <input type="password" name="password" class="form-control">
          </div>
  
          <button type="submit" class="btn btn-primary" value="submit">Login</button>
        </form>
      </div>
    </div>
  </div>

  