
     <div class="text-center"><h1>Claim Wizard</h1></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="File-a-claim"> File a claim <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="login">login</a>
      <a class="nav-item nav-link" href="signup">signup</a>
      <a class="nav-item nav-link" href="#">logout</a>
    </div>
  </div>
</nav>

 <div class="container-fluid">
      <div class="home-heading text-center row first-section">
        <div class="home-heading-wrapper">
          <h1 class="home-header-layout" Insurance made easy through proper claim management.</h1>
          <p>Claim Wizard creators focus on making Insurance claims more convenient and assesible for the user on their own terms. We
            facilitate the needs for public adjusters, law firms, and insurance companies that are having trouble
            staying on top of their case.</p>
          <a class="btn btn-default" href="#">Read their stories</a>
        </div>
      </div>
    </div>

   <div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Every month Claim Wizard customers save...</h1>
      <p> <h2> 12 </h2> Hours in lost paperwork. </p>
      <p> <h2> 20 </h2> Hours searcing for information. </p>
      <p> <h2> 45 </h2> Hours in manual filing. </p>
      <p> for Only <h2>$9.99 a month!!!!</h2> </h1> </p>
    </div>
  </div>
</div>